<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<html ng-app="myAssignmentApp">
	<head>
		<title>Module-1-Coding-Assignment</title>
	</head>
	<body>
		<div ng-controller="myAssignmentController">
		    <p><input type="text" style="width:360px; height: 30px;" ng-model="myLunch"/></p>
		    <input type="button" value="Check If Too Much" ng-click="checkMyLunch($event, myLunch)" />
		</div>
	</body>
</html>
<script>
    (function () {
        'use strict';

        angular.module("myAssignmentApp", [])

        .controller('myAssignmentController', ['$scope', function ($scope) {
            $scope.checkMyLunch = function (e, lunch) {
                e.preventDefault();
                
                if (lunch) {
                    let arrayOfLunch = lunch.split(",");
                    let lunchCount = 0;

                    for (let i = 0; i < arrayOfLunch.length; i++) {
                        if (arrayOfLunch[i]) {
                            lunchCount++;
                        }
                    }

                    if (lunchCount === 0) {
                        alert("Please enter data first");
                    }else if (lunchCount <= 3) {
                        alert("Enjoy!");
                    } else {
                        alert("Too much!");
                    }
                } else {
                    alert("Please enter data first");
                }
            }
        }])

    })();
</script>
