<!DOCTYPE html>
<style>
    input, select, textarea{
        max-width: 500px;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<html ng-app="myAssignmentApp">
	<head>
		<title>Module-1-Coding-Assignment</title>
	</head>
	<body>
		<div ng-controller="myAssignmentController">
		    <p><input type="text" 
		              style="width:500px; height: 30px;" 
		              placeholder="List comma separated dishes you usually have for lunch" 
		              ng-model="myLunch"/>
		    </p>
		    <p>* Input do NOT consider and empty item</p>
		    <p><input type="button" value="Check If Too Much" ng-click="checkMyLunch($event, myLunch)" /></p>
		    <label>{{myResult}}</label>
		</div>
	</body>
</html>
<script>
    (function () {
        'use strict';

        angular.module("myAssignmentApp", [])

        .controller('myAssignmentController', ['$scope', function ($scope) {
            $scope.checkMyLunch = function (e, lunch) {
                e.preventDefault();
                
                if (lunch) {
                    let arrayOfLunch = lunch.split(",");
                    let lunchCount = 0;

                    for (let i = 0; i < arrayOfLunch.length; i++) {
                        if (arrayOfLunch[i].trim()) {
                            lunchCount++;
                        }
                    }

                    if (lunchCount === 0) {
                        $scope.myResult = "Please enter data first";
                    }else if (lunchCount <= 3) {
                        $scope.myResult = "Enjoy!";
                    } else {
                        $scope.myResult = "Too much!";
                    }
                } else {
                    $scope.myResult = "Please enter data first";
                }
            }
        }])

    })();
</script>
