<!doctype html>
<html lang="en">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </head>
<body>
  <div class="container" ng-app="ShoppingListCheckOff">
  <h1>Shopping List Check Off</h1>      
  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller="ToBuyController">
     <h2>To Buy:</h2>
     <ul ng-if="toBuy.length > 0" ng-repeat="item in toBuy | orderBy:id track by $index">
       <li>Buy {{item.quantity}} {{item.name}}<button class="btn btn-default" ng-click="addItem(item.id)"><span class="glyphicon glyphicon-ok"></span> Bought</button></li>
     </ul>
     <div ng-if="toBuy.length === 0" class="emptyMessage">Everything is bought!</div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller="AlreadyBoughtController">
         <h2>Already Bought:</h2>
         <ul ng-if="bought.length > 0" ng-repeat="item in bought | orderBy:id track by $index">
           <li>Bought {{item.quantity}} {{item.name}}</li>
         </ul>
        <div ng-if="bought.length === 0" class="emptyMessage">Nothing bought yet.</div>
    </div>
  </div>
</div>
<!-- angular library -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="app.js"></script>
</body>
</html>
